{{template "header.html" .}}
<h1>Theme</h1>
<p>This is an overview of the Sass-based color scheme defined for this theme.</p>
<div id="colors" class="group">
	<div class="color gray">
		<div class="swatch gray light"></div>
		<div class="swatch gray dark"></div>
	</div>
	<div class="color blue">
		<div class="swatch blue light"></div>
		<div class="swatch blue dark"></div>
	</div>
	<div class="color purple">
		<div class="swatch purple light"></div>
		<div class="swatch purple dark"></div>
	</div>
	<div class="color pink">
		<div class="swatch pink light"></div>
		<div class="swatch pink dark"></div>
	</div>
	<div class="color red">
		<div class="swatch red light"></div>
		<div class="swatch red dark"></div>
	</div>
	<div class="color orange">
		<div class="swatch orange light"></div>
		<div class="swatch orange dark"></div>
	</div>
	<div class="color yellow">
		<div class="swatch yellow light"></div>
		<div class="swatch yellow dark"></div>
	</div>
	<div class="color green">
		<div class="swatch green light"></div>
		<div class="swatch green dark"></div>
	</div>
</div>
{{template "footer.html" .}}
