*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: #333;
  font-size: 14px;
	line-height: 1.35;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  background: #666;
	min-width: 320px;
	overflow-x: hidden;
}

h1, h2,
h3, h4 {
	color: $primary;
	margin: 0;
	line-height: 1.25;
}

h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.2em;
}

p {
	margin-bottom: $space;
	&:last-child {
		margin: 0;
	}
}

a {
  &:link, &:visited {
    color: $primary;
    text-decoration: none;
  }
  &:hover, &:visited:hover {
    color: $dark;
  }
}

a,
button,
input[type=submit],
input[type=button] {
  &.btn {
		display: inline-block;
    color: #fff;
    font-size: 1.15em;
    line-height: 1.25em;
    padding: $space/2 $space;
		border: 0;
  	background: $primary;
		@include boxShadow($dark, 4px, 0, 0.15);
    @include roundEven(6px);
    text-decoration: none;
    &:hover {
      color: #fff;
      background-color: $dark;
    }
  }
}
